:root {
    --border-color: #30363d;
	--table-color: #161b22;
	--text-color: #8b949e;
	--h1-color: #c9d1d9;
}

body {
	margin: 0;
	background-color: #0d1117;
}

div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

table {
	justify-self: center;
}

td {
	text-align: center;
}

button {
    background-color: var(--table-color);
    color: var(--text-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

blockquote>div {
	justify-content: center;
	margin: 20 auto;
}

aside{

}

section {
	margin: 30 auto;
	padding: 30;
	width: 60%;
	color: var(--text-color);
	border: 1px solid var(--border-color);
	border-radius: 6px;
}

h1 {
	color: var(--h1-color);
	padding-bottom: 0.3em;
	border-bottom: 1px solid #21262d;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #58a6ff;
}

a:hover {
	text-decoration: underline;
	outline-width: 0;
}

a:not([target]) {
	color: #585bff;
}

blockquote {
	padding: 0 1em;
	color: var(--text-color);
	border-left: .25em solid #30363d;
	line-height: 2;
}

table {
	color: #c9d1d9;
	border-color: gray;
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	border-top: 1px solid #21262d;
}

th,
td {
	padding: 6 13;
	border: 1px solid #30363d;
}

td {
	background-color: var(--table-color);
}

.highcharts-background {
	fill: var(--table-color);
}

.highcharts-text-outline {
	display: none;
}

.highcharts-yaxis-grid .highcharts-grid-line {
	stroke: var(--text-color);
}

.highcharts-button-box {
	fill: var(--text-color);
}

text {
	fill: var(--text-color) !important;
	color: var(--text-color) !important;
}

rect {
	stroke: var(--table-color);
}